---
title: Posts Recientes
description: Todos los posts recientes de Dinoki ON.
layout: page
image: "https://bydinoki.com/res/branding/thumbnaill.jpg"
sitemap: true
---

<h1 class="ptit">Posts Recientes</h1>

{% for post in site.posts %}
{% include pots.html %}
{% endfor %}

<style>
.dorian{
    user-select: none;
    margin: 0 15vw auto;
    padding: 0px;
    text-align: left;
   }

   @media only screen and (min-width: 1000px) {
         
         .dorian{
        
        margin: 0 22vw;
        
       }
       
       }

   .tile {
    font-size: 30px;
    margin: 12px 0px 2px;
    width: fit-content;
}

.my-image {
    width: 300px;
    height: 230px;
    object-fit: cover;

}

.referl{
    width: 85%;
    display: contents;
}

.ptit{
color: #b80000;
margin: 8px 0 20px 0px;
font-size: 40px !important;

}

@media (max-width: 700px) {

.dorian {
    margin: 0 10vw;

}
 .tile{
    width: fit-content;
 }

}

</style>
