---
title: Posts Recientes
description: Todos los posts recientes de Dinoki ON.
layout: page
image: "https://bydinoki.com/res/branding/thumbnaill.jpg"
---

<h1 class="ptit">Posts Recientes</h1>

{% for post in site.posts %}
 <div>

    
    <a class="referl" style="text-decoration: none; color: black;" href="{{ post.url | relative_url }}">   
        <h2 class="tile">{{post.title}}</h2>

        {% include postdates.html date=post.date time-attributes='class="post-date"' %}
    </a>
        {% for tag in post.tags %}
        <a class="hashtag" style="padding-left: 0.5vw;" href="/hashtag/{{tag}}">#{{tag}}</a>
        {% endfor %} <br/>
        <a class="referl" style="text-decoration: none; color: black;" href="{{ post.url | relative_url }}">
        <p class="desk">{{post.description}}</p>

        {% if post.image != emphy %}

       <img class="my-image" src="{{ post.image }}">
       <br/>
       {% endif %}</a>

      <br/> {% unless forloop.last %}
      <hr style="border-color: #dfdfdf;">
      {% endunless %}<br/>
</div>
{% endfor %}

<p><b>Posts are #BYDINOKI !</b> <br/> <i>¿Estás buscando los demás post? Ve a: <a target="_blank" rel="noopener noreferrer" href="https://vlog.bydinoki.com">vlog.bydinoki.com</a></i></p>


</div>

<style>
.dorian{
    margin: 0 15vw auto;
    padding: 0px;
    text-align: left;
   }

   .tile {
    font-size: 30px;
    margin: 12px 0px 2px;
    width: fit-content;
}

.my-image {
    width: 300px;
    height: 230px;
    object-fit: cover;

}

.referl{
    width: 85%;
    display: contents;
}

.ptit{
margin: 8px 0 20px 0px;
font-size: 40px !important;

}

@media (max-width: 700px) {

.dorian {
    margin: 0 10vw;

}
 .tile{
    width: fit-content;
 }

}

</style>
