---
title: Dinoki ON
description: Las redes sociales de Dinoki ON.
layout: blanco
image: "https://bydinoki.com/res/branding/thumbnaill.jpg"
---

<div class="padin1">
    
    <div style="text-align: center; margin: 8px;">
      <img class="pefe" alt="Dinoki Profile Picture (2024)" style="user-select: none; pointer-events: none;" border="0" draggable="false" height="144" src="{{site.pfp}}" width="144" />
    </div>
    <div class="separator" style="clear: both; user-select: none; text-align: center;">
      <b style="color: #b80000; font-family: inherit; font-size: xx-large; margin-bottom: 15px; pointer-events: none;">DINOKI ON</b>
    </div>
    
    <p style="text-align: center;">
      
      </p><p style="align-content: center; align-items: center; display: flex; flex-direction: column; text-align: center;">
        
        <!--Promocional Grande INICIO-->

        {% for promo in site.data.social.promo %}

        {% if promo.hidden == false %}
       
        <a class="t" target="_blank" href="{{promo.link}}" rel="noopener noreferrer"><button class="grandb1" id="grandb1">
          
          <p style="text-align: center; display:block;"><img class="image_resized" height="920" src="{{promo.thumbnail}}" style="aspect-ratio: 1534 / 1037; pointer-events: none;" draggable="false" width="1580" /></p>
          
        <p style="text-align: center;"><span><strong>{{promo.title}}</strong></span></p>
          
        <p style="text-align: center;"><span>{{promo.description}}</span></p>
           
           </button>
          </a></p>

          {% endif %}

          {% endfor %}
        
        <!--Promocional Grande FIN-->
      
        <!--Link INICIO-->
    

        {% for social in site.data.social.social %}
        
        <a href="{{social.link}}" rel="noopener noreferrer" target="_blank"><button id="myBtnE">{{social.name}}</button></a>
        <p style="margin-bottom: 10px;"></p>

      {% endfor %}

      <!--Link FIN-->
      
    <!--Footer INICIO-->
    
    <div id="foo" class="flex-container">
        <p><a class="byd1" href="/bydinoki" rel="noopener noreferrer"><u>#bydinoki</u></a></p>
      
      <p class="padin-red"></p>
      
      <p><a class="byd1" href="https://bio.link/dinoki_0n" rel="noopener noreferrer" target="_blank"><u>otros</u></a></p>
      
     
    
      </div><p></p></div>
    
    <div class="flex-container" style="text-align:center;">
      
      <a alt="#BYDINOKI" class="logo-home" id="cardd" href="javascript:history.go(-1)" style="transition: 0.2s;" rel="noopener noreferrer"><image title="Go Back" alt="Go Back" class="logo-hom" draggable="false" width="40" src="https://img.icons8.com/?size=100&id=39776&format=png&color=b80000"></image></a>
      
        <p id="p1" class="padin-red"></p>
      
    <a alt="#BYDINOKI" class="logo-home" href="/" style="transition: 0.2s;" rel="noopener noreferrer"><image title="#BYDINOKI.com" alt="#BYDINOKI.com" class="logo-hom" draggable="false" width="40" src="/res/branding/symbol.png"></image></a>
    
    </div>

    <br/>
    
    <!--Footer FIN-->
    
    <style>
body, .dorian {
user-select: none;
}

.padin-red {
       margin: 0 15px;
    }
      
      @media only screen and (max-width: 580px) {

        #grandb1{
          width: 80vw !important;
        }

        #grandb1:hover {
          padding: 15px !important;
          width: 75vw !important;
        }
         
         #myBtnE {
            width: 80vw;
         }
    
    
        .padin1{
          
          margin:0 55px;
          
         }
         
         /* Tamaño de Imagen INICIO */
          img.image_resized{
        
       width:265px; 
        
      }
           /* Tamaño de Imagen FIN */
         
         
         #grandb1:hover {
         
           padding: 5px;
            width: 330px;
     
    }
         
         
         }
      
      a.logo-home:hover{
        
        opacity:0.5;
        transition:0.3s;
      }
      
      a.logo-hom{
        
        opacity:1;
        transition:0.3s;
        
      }
      
      .padin1{
          
          margin:0px;
          
         }
      
      
     /* Personalizar Botón INICIO */
      
      #grandb1{
        
      box-shadow: 0px 0px 0px 2px rgb(255 255 255);
      border: none;
      outline: none;
      background-color: #b80000; /* Set a background color */
      color: white; /* Text color */
      cursor: pointer;
      padding: 15px;
      font-size: 18px;
      width: 410px;
      transition: 0.3s;
        
      }
      
    
    #grandb1:hover{
      padding: 20px;
      background-color: white;
      color: #000000; /* Text color */
      width: 410px;
      height: max-content;
      box-shadow: 0px 0px 0px 2px #b80000; /* Set a background color */
    }
      
      /* Personalizar Botón FIN */
      
      
      #myBtnE:hover {
      font-size: 16px;
      }
      
      /* Tamaño de Imagen INICIO */
      img.image_resized{
        
       width:280px; 
        
      }
      /* Tamaño de Imagen FIN */
      
    </style>
    
    <script>
      
      //get carrd link
      const urlParams1 = new URLSearchParams(window.location.search);
      
     nombre1 = urlParams1.get('cardd') ?? "not";
          
           document.addEventListener("DOMContentLoaded", function () {
          
          let f1 = document.getElementById("cardd");
             let p1 = document.getElementById("p1");
                let foo = document.getElementById("foo");
             
               f1.style.display = "none";
              p1.style.display = "none";
         
          if (nombre1 == "1" || nombre1 == "true") {
          
        f1.style.display = "block";
            p1.style.display = "block";
            foo.style.display = "none"; 
      }
    
           });
        
    </script>
