---
title: "Los OC's/AU's de Dinoki"
description: "Estos son los OC's y AU's hechos por Dinoki ON."
layout: page
image: "https://bydinoki.com/res/branding/thumbnaill.jpg"
sitemap: true
redirect_from:
  - /ocs
  - /dinoki-ocs
---

<div class="tit1"><p style="margin-left: 15px; margin-bottom:10px; text-align: left;">
    <span style="color: #b80000; font-weight:900; font-size: 44px;">Los OC's/AU's De Dinoki</span></p>

    <div class="wrapper">
      {% for oc in site.data.oc %}
      <div>
        <a href="https://characterhub.com/character/rojoz" rel="noopener noreferrer" target="_blank">
    <div class="cuad1">
    {% if oc.numin != "" %}
        <p style="text-align: center;"><img alt="{{ oc.num }}" class="pime" draggable="false" height="30" src="{{ oc.numin }}" width="30" /></p>
    {% else %}
      <p style="text-align: center;"><span style="color: black; font-size: 18px;"><strong>{{ oc.num }}</strong></span></p>
      {% endif %}
        <p style="text-align: center;"><img class="pime" draggable="false" height="150" src="{{ oc.pfp }}" width="150" /></p>
        <p style="text-align: center;"><span style="color: #263238; font-size: 18px;"><strong>{{ oc.name }}</strong></span></p>
        <p style="text-align: center;"><span style="color: #757575; font-weight: 500; font-size: 12px;">{{ oc.yar }}</span></p>
        <p style="text-align: center;"><span style="color: #757575; font-weight: 500; font-size: 12px;">{{ oc.time }}</span></p>
    </div></a>
    </div>
      {% endfor %}
      <div><a style="text-decoration: none;" href="/oc/about" rel="noopener noreferrer">
      <div style="background-color: #b80000; box-shadow: 0px 0px 0px 0px; font-size: 30px;" class="cuad1">
     <h1 style="display: flex; align-content: center; flex-wrap: wrap; color: white;">VER OC'S/<br>AU's INFO <br> --></h1>
  </div></a></div>
      </div>
      
</div>
      
    </div><br />
    
    
    <p class="creditt" style="text-align: left;">characters source: <a href="https://characterhub.com/profile/dinoki_0n" rel="noopener noreferrer" target="_blank">characterhub: @dinoki_0n</a> | <a href="https://toyhou.se/dinoki_0n" rel="noopener noreferrer" target="_blank">toyhouse: @dinoki_0n</a> | <a href="https://unvale.io/bydinoki" rel="noopener noreferrer" target="_blank">unvale: @bydinoki</a> | <a href="/responsability" rel="noopener noreferrer">Descargo de Responsabilidad</a></p>
    
    
    {%- include legacyp.html -%}
    {%- include hidebtnl.html -%}
    
    <style>

      h1{
        user-select: none;
      }

      .creditt{
        margin-left: 15px;
      }
      
      p {
        display: block;
        margin-block-start: 1px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
    }
      
      img.pime{
       pointer-events: none; 
        
      }
    
      
    .cuad1 {
        box-shadow: 0px 0px 0px 4px #b80000;
          display: inline-block;
      margin: 20px;
        padding: 8px;
          height: 340px;
      transition: 0.3s;
    }
      .cuad1:hover {
        box-shadow: 0px 0px 0px 2px #8b0000;
        opacity: .5;
        display: inline-block;
        padding: 8px;
        margin: 24px 24px 0 24px;
    }
      
      .cuad2 {
        box-shadow: 0px 0px 0px 4px rgb(0 0 0);
          display: inline-block;
      margin: 20px;
        padding: 8px;
          height: 310px;
        opacity:0.5;
        font-size: 35px;
        justify-content: center;
        align-items: center;
        cursor:not-allowed;
    }
      
      .tit1 {
        opacity: 1;
       animation-name: fad1;
      animation-duration: 0s;
      }
      @keyframes fad1 {
      from {
    opacity: 0.1;
        bottom: -8px;
        }
      to {
        opacity: 1;
        bottom: 0px;}
    }
      
      .wrapper {
      display: grid;
      justify-content: left;
      grid-template-columns: 200px 200px 200px 200px 200px;
    }
      
      
       @media only screen and (max-width: 1210px) {
      .wrapper {
        grid-template-columns: repeat(3, 1fr);
      }
         
      }
      
      
       @media only screen and (max-width: 600px) {
    
         
      .wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
         
      }
      
      .tit1{
        
        margin-top:20px;
        
      }
      
      @media only screen and (max-width: 800px) {
         
         .tit1{
        
        margin-top:2px;
        
      }
    }

    @media only screen and (max-width: 630px) {
         
         .dorian{
        
        margin: 2px 5vw;
        
       }
       .creditt{
        margin: 2px 5vw;
      }
       }
      
    </style>
