<div id="dialogo-cookies" class="dialogo-cookies oculto">
    <div class="dialogo-contenido">
        <div class="letras"><h2>Uso de Cookies</h2>
        <p>Este sitio web utiliza cookies para mejorar la experiencia del usuario y analizar el tráfico del sitio web. <a class="lkp" target="_blank" href="/cookies">Más Información...</a></p>
        </div>
        <button id="aceptar-cookies" class="boton"><img class="close" draggable="false" src="https://img.icons8.com/?size=200&id=8112&format=png&color=b80000" width="42" height="42" alt="Close"></button>
   
    </div>
</div>