<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W8F2C5SW46"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W8F2C5SW46');
</script>

<header id="header">
        
    <div id="menu-toggle" class="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    
    
    <div class="logo">
        <a href="/"><img draggable="false" width="55" src="/res/branding/symbol.png" alt="#BYDINOKI"></a>
    </div>
    
    <nav id="nav">
        <button id="close" class="cl0"><img src="https://img.icons8.com/?size=200&id=8112&format=png&color=ffffff" width="32" height="32" alt="Close"/></button> 
        <ul>
            <li><a class="hlink1" href="/">INICIO</a></li>
            <li><a class="hlink1" href="/about">INFORMACIÓN</a></li>
            <li><a class="hlink1" href="/post">POSTS</a></li>
            <li><a class="hlink1" href="/hashtag/comunicado">COMUNICADOS</a></li>
            <li><a class="hlink1" href="/portfolio">PORTAFOLIO</a></li>
            <li><a class="hlink1" href="/oc">OC'S/AU'S</a></li>

                <div class="dropdown">
                  <button class="dropbtn">MENÚ</button>
                  <div class="dropdown-content">
                    <a href="/cleiver">CLEIVER</a>
                    <a target="_blank" href="/social">REDES SOCIALES</a>
                    <a target="_blank" href="http://blindfold.bydinoki.com">BLINDFOLD CHANNEL</a>
                  </div>
                </div>
           

        </ul>
        <div class="nasocial">
            <a class="hlink1" href="{{site.iglink}}" style="margin-right: 10px;" target="_blank"><img draggable="false" src="https://img.icons8.com/?size=200&amp;id=85140&amp;format=png&amp;color=ffffff" width="25" alt="Instagram"></a>
            <a class="hlink1" href="{{site.ytlink}}" target="_blank"><img draggable="false" src="https://img.icons8.com/?size=200&amp;id=37326&amp;format=png&amp;color=ffffff" width="25" alt="YouTube"></a>
       </div>
    </nav>
    <div class="social">
        <a class="hlink1" href="{{site.iglink}}" target="_blank"><img draggable="false" width="25" height="25" src="https://img.icons8.com/?size=100&amp;id=85140&amp;format=png&amp;color=b80000" alt="Instagram"></a>
        <a class="hlink1" href="{{site.ytlink}}" target="_blank"><img draggable="false" width="25" height="25" src="https://img.icons8.com/?size=100&amp;id=37326&amp;format=png&amp;color=b80000" alt="YouTube"></a>
   </div>
    
    <div class="spcin"></div>
   
</header>
