<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W8F2C5SW46"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W8F2C5SW46');
</script>

<header id="header">
        
    <div id="menu-toggle" class="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    
    
    <div class="logo">
        <a href="/"><img draggable="false" width="55" src="/res/branding/symbol.png" alt="#BYDINOKI"></a>
    </div>
    
    <nav id="nav">
        <button id="close" class="cl0"><img src="https://img.icons8.com/?size=32&id=8112&format=png&color=ffffff" alt="Close"/></button> 
        <ul>
            <li><a class="hlink1" href="/">INICIO</a></li>
            <li><a class="hlink1" href="/about">INFORMACIÓN</a></li>
            <li><a class="hlink1" href="/social">SOCIALES</a></li>
            <li><a class="hlink1" href="/portfolio">PROYECTOS</a></li>
            <li><a class="hlink1" href="/post">BLOG</a></li>
            <li><a class="hlink1" target="_blank" href="http://blindfold.bydinoki.com">BLINDFOLD CHANNEL</a></li>
        </ul>
        <div class="nasocial">
            <a class="hlink1" href="{{site.iglink}}" style="margin-right: 10px;" target="_blank"><img draggable="false" src="https://img.icons8.com/?size=25&amp;id=85140&amp;format=png&amp;color=ffffff" alt="Instagram"></a>
            <a class="hlink1" href="{{site.ytlink}}" target="_blank"><img draggable="false" src="https://img.icons8.com/?size=25&amp;id=37326&amp;format=png&amp;color=ffffff" alt="Youtube"></a>
       </div>
    </nav>
    <div class="social">
        <a class="hlink1" href="{{site.iglink}}" target="_blank"><img draggable="false" src="https://img.icons8.com/?size=50&amp;id=85140&amp;format=png&amp;color=b80000" alt="Instagram"></a>
        <a class="hlink1" href="{{site.ytlink}}" target="_blank"><img draggable="false" src="https://img.icons8.com/?size=50&amp;id=37326&amp;format=png&amp;color=b80000" alt="Youtube"></a>
   </div>
    
    <div class="spcin"></div>
   
</header>
