<!DOCTYPE html>
<html lang="es">

{%- include ahc.html -%}

<title>{{page.title}}</title>

<body>

    {%- include head.html -%}
    
<main class="dorian">

{{ content }}

</main>

<style>

header, footer{
display: none;

}

.dorian{
    margin: 40px 8vw 10px;
}

</style>

<script>

if (window.location.search.includes('hidenark')) {
    const url = new URL(window.location);
    url.searchParams.delete('hidenark');
    window.history.replaceState({}, document.title, url.toString());
}

</script>

{%- include deploi.html -%}
{%- include foot.html -%}

</body>
</html>