<!DOCTYPE html>
<html lang="es">

{%- include ahc.html -%}

<title>{{page.title}} — {{site.title}}</title>

<body>

    {%- include head.html -%}

    
    
<main class="dorian">
    
    <div class="trabajo-final">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title }}</h1>
    {% include dates.html date=post.date time-attributes='class="post-date"' %} 
    
    {% for tag in page.tags %}
    <a class="hashtag" style="padding-left: 0.5vw;" href="/hashtag/{{tag}}">#{{tag}}</a>
    {% unless forloop.last %},{% endunless %}
    {% endfor %}</div>

    <div class="wrapp">
{{ content }}
    </div>

<br/>

{%- include share.html -%}

</main>

<style>
    .post-title{
margin: 12px 0px 8px;
font-weight: 700;
user-select: none;
    }

    .trabajo-final{
user-select: none;
    }

.dorian{
    text-align: left;
   }

   @media (max-width: 800px) {

 .dorian{
   margin: 2px 6vw; 
   }

   .tile{
    width: fit-content;
   }

}
</style>

{%- include go-up.html -%}
{%- include cookies.html -%}

{%- include deploi.html -%}
{%- include foot.html -%}


    
</body>
</html>