---
description: "Hashtag en #BYDINOKI.com"
layout: page
sitemap: false
---

<h1 class="ptit">#{{page.tag}}</h1>

{% for post in site.posts %}

    {% if post.tags contains page.tag %}
    {% include pots.html %}

{% endif %}
{% endfor %}

<style>
    .dorian{
        user-select: none;
        margin: 0 15vw auto;
        padding: 0px;
        text-align: left;
       }

       @media only screen and (min-width: 1000px) {
         
         .dorian{
        
        margin: 0 22vw;
        
       }
       
       }
    
       .tile {
        font-size: 30px;
        margin: 12px 0px 2px;
        width: -webkit-fill-available;
    }

    .desk{
        width: auto;
    }

    .my-image {
        width: 300px;
        height: 230px;
        object-fit: cover;
    
    }
    
    .referl{
        width: 85%;
        display: contents;
    }
    
    .ptit{
    margin: 8px 0 20px 0px;
    font-size: 40px !important;
    user-select: none;
    width: max-content;
    }
    
    @media (max-width: 700px) {
    
    .dorian {
        margin: 0 10vw;
    
    }

    .ptit {
        width: -webkit-fill-available;
    }

    .tile, .desk{
    width: fit-content;
   }
    
    }
    
    </style>

{%- include cookies.html -%}

{% if page.tag == "bydinoki" %}
<style>
    .ptit{
text-align: center;
        color: white;
        background-color: #b80000;
        text-transform: uppercase;
    }
</style>
{% endif %}

{% if page.tag == "BlindfoldChannel" %}
<style>
    .ptit{
        text-transform: uppercase;
        color: white;
        background-color: black;
        padding: 8px 12px;
    }
</style>
{% endif %}


{% if page.tag == "comunicado" %}
<style>
    .ptit{
        color: #b80000;
    }
</style>
{% endif %}

    