---
layout: page
---

<h1 class="ptit">#{{page.tag}}</h1>

{% for post in site.posts %}
 <div>

    {% if post.tags contains page.tag %}
    <a class="referl" style="text-decoration: none; color: black;" href="{{ post.url | relative_url }}">   
        <h2 class="tile">{{post.title}}</h2>

        {% include postdates.html date=post.date time-attributes='class="post-date"' %} <br/>

        <p class="desk">{{post.description}}</p>
        {% if post.image != emphy %}

       <img class="my-image" src="{{ post.image }}">
       <br/>
       {% endif %}

      </a>
      <br/><br/>
</div>
{% endif %}
{% endfor %}

<style>
    .dorian{
        margin: 0 15vw auto;
        padding: 0px;
        text-align: left;
       }
    
       .tile {
        font-size: 30px;
        margin: 12px 0px 2px;
        width: max-content;
    }

    .my-image {
        width: 300px;
        height: 230px;
        object-fit: cover;
    
    }
    
    .referl{
        width: 85%;
        display: contents;
    }
    
    .ptit{
    margin: 8px 0 20px 0px;
    font-size: 40px !important;
    user-select: none;
    width: max-content;
    }
    
    @media (max-width: 700px) {
    
    .dorian {
        margin: 0 10vw;
    
    }

    .ptit {
        width: -webkit-fill-available;
    }
    
    }
    
    </style>

{% if page.tag == "bydinoki" %}
<style>
    .ptit{
        color: #b80000;
        text-transform: uppercase;
    }
</style>
{% endif %}

{% if page.tag == "BlindfoldChannel" %}
<style>
    .ptit{
        text-transform: uppercase;
        color: white;
        background-color: black;
        padding: 8px 12px;
    }
</style>
{% endif %}


{% if page.tag == "comunicado" %}
<style>
    .ptit{
        color: #b80000;
    }
</style>
{% endif %}

    